<!DOCTYPE html>

<html>

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
        <title>Youtube Downlaod Agent</title>
      </head>

<body>

<h2>Youtube Download Agent</h2>

<!-- Video list -->
<div>
<p>Available videos</p>
<ul>
    {{range .Videos}}

        <li><b>{{.ChannelTitle}}:</b> <i>{{.Title}}</i> <button onclick="download('{{.VideoID}}')">download</button></li>

    {{end}}
</ul>
</div>

<!-- Queue -->
<div>
    <p>Download queue</p>
        {{if .IsJobRunning}}  
        <ul>
            {{range .Jobs}}

                {{ if eq .State "DOWNLOADING" }}

                <li><b>[{{.State}}]</b> <i>{{.VideoTitle}}</i></li>

                {{ end }}

            {{end}}
        </ul>
        {{else}} --- none --- {{end}}
</div><br/>

<!-- History -->
<div>
    <p>Download history<br/>--- none ---</p>
</div><br/>

<!-- Status bar -->
<div>
    <p>Refrehed at: {{.RefreshedAt}}</p>
    <p id="statusInfo">Action log: ---</p>
    <button onclick="loadMore()">klick mich</button>
</div>


</body>
</html>

<script>

    function loadMore() {
        var e = document.getElementById("statusInfo");
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
            if (xhr.readyState == 4 && xhr.status == 200) {
                //e.outerHTML = xhr.responseText;
                e.outerHTML = "Status: lädt"
            }
        }
        xhr.open("GET", "/yda/queue/add/2", true);
        try { xhr.send(); } catch (err) { /* handle error */ }
    }

    function download(videoID) {
        var e = document.getElementById("statusInfo");
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
            if (xhr.readyState == 4 && xhr.status == 200) {
                e.outerHTML = "Action log: Download started (" + videoID +")"
            }
        }
        xhr.open("GET", "/yda/queue/add/"+videoID, true);
        try { xhr.send(); } catch (err) { /* handle error */ }
    }

    async function test() {

        await Sleep(3000); // Pausiert die Funktion für 3 Sekunden
        var e = document.getElementById("statusInfo");
        e.outerHTML = "Action log:"

    }

</script>