<h1>Login</h1>

<div>
    <p id="statusInfo">MagicKey</p>
    <form>
        <input type="password" id="magicKey">
        <button onclick="login()">Login</button>
    </form>
</div>

<script>
    function login() {
        var e = document.getElementById("magicKey");
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
            if (xhr.readyState == 4 && xhr.status == 200) {
                window.location.replace("/yda");
            }
        }
        xhr.open("GET", "/login/"+e.value, true);
        try { xhr.send(); } catch (err) { /* handle error */ }
    }
</script>